@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">YAZYAZABİLİRSEN</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core"></a>.</p>
</div>