
@{
    ViewData["Title"] = "BlogTitleListExcel";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>BlogListExcel</h1>
<br />
<a href="/Admin/Blog/ExportDynamicExcelBlog" class="btn btn-success">Exceli indir</a>


